# JET - Joint European Torus
#
# Public facility configuration for graph and mappings.
# Infrastructure data is in jet_private.yaml (gitignored).

facility: jet
name: JET (Joint European Torus)
machine: JET
description: Joint European Torus - EUROfusion operated tokamak
location: Culham, United Kingdom

# SSH connection (user configures ~/.ssh/config with this alias)
ssh_host: jet

# Data systems available at this facility
data_systems:
  - ppf    # JET Processed Pulse File system
  - uda    # Universal Data Access (SAL)
  - imas   # IMAS data format
  - mdsplus  # MDSplus (limited use)

# User info discovery configuration
# GECOS = General Comprehensive Operating System (5th field in /etc/passwd)
user_info:
  name_format: first_last  # Standard "First Last" format
  lookup_tools:  # Ordered fallback list
    - getent   # POSIX standard, includes LDAP/NIS/SSSD
    - passwd   # /etc/passwd fallback
    - id       # existence check only

# Wiki/documentation sites
# JET Data Centre hosts 16 separate MediaWiki instances at wiki.jetdata.eu
# Each is a distinct site for different task forces/groups
wiki_sites:
  - url: https://wiki.jetdata.eu/pog
    portal_page: Main_Page
    site_type: mediawiki
    auth_type: none
    requires_ssh: true
    description: Plasma Operations Group - operational procedures and session logs
  - url: https://wiki.jetdata.eu/ia
    portal_page: Main_Page
    site_type: mediawiki
    auth_type: none
    requires_ssh: true
    description: Integrated Analysis - analysis tools and workflows
  - url: https://wiki.jetdata.eu/ek
    portal_page: Main_Page
    site_type: mediawiki
    auth_type: none
    requires_ssh: true
    description: Electron Kinetics
  - url: https://wiki.jetdata.eu/open
    portal_page: Main_Page
    site_type: mediawiki
    auth_type: none
    requires_ssh: true
    description: OpenWiki - general documentation
  - url: https://wiki.jetdata.eu/rtmc
    portal_page: Main_Page
    site_type: mediawiki
    auth_type: none
    requires_ssh: true
    description: Real Time Measurement and Control
  - url: https://wiki.jetdata.eu/seed
    portal_page: Main_Page
    site_type: mediawiki
    auth_type: none
    requires_ssh: true
    description: SeedWiki
  - url: https://wiki.jetdata.eu/tf
    portal_page: Main_Page
    site_type: mediawiki
    auth_type: none
    requires_ssh: true
    description: TFWiki - Task Force general
  - url: https://wiki.jetdata.eu/tfd
    portal_page: Main_Page
    site_type: mediawiki
    auth_type: none
    requires_ssh: true
    description: Task Force D - diagnostics
  - url: https://wiki.jetdata.eu/tfe
    portal_page: Main_Page
    site_type: mediawiki
    auth_type: none
    requires_ssh: true
    description: Task Force E - exhaust
  - url: https://wiki.jetdata.eu/tfe1
    portal_page: Main_Page
    site_type: mediawiki
    auth_type: none
    requires_ssh: true
    description: Task Force E1
  - url: https://wiki.jetdata.eu/tfe2
    portal_page: Main_Page
    site_type: mediawiki
    auth_type: none
    requires_ssh: true
    description: Task Force E2
  - url: https://wiki.jetdata.eu/tfh
    portal_page: Main_Page
    site_type: mediawiki
    auth_type: none
    requires_ssh: true
    description: Task Force H - heating and current drive
  - url: https://wiki.jetdata.eu/tfm
    portal_page: Main_Page
    site_type: mediawiki
    auth_type: none
    requires_ssh: true
    description: Task Force M - MHD
  - url: https://wiki.jetdata.eu/tfs1
    portal_page: Main_Page
    site_type: mediawiki
    auth_type: none
    requires_ssh: true
    description: Task Force S1 - scenario 1
  - url: https://wiki.jetdata.eu/tfs2
    portal_page: Main_Page
    site_type: mediawiki
    auth_type: none
    requires_ssh: true
    description: Task Force S2 - scenario 2
  - url: https://wiki.jetdata.eu/tft
    portal_page: Main_Page
    site_type: mediawiki
    auth_type: none
    requires_ssh: true
    description: Task Force Transport
