# JET - Joint European Torus
#
# Public facility configuration for graph and mappings.
# Infrastructure data is in jet_private.yaml (gitignored).

facility: jet
name: JET (Joint European Torus)
machine: JET
description: Joint European Torus - EUROfusion operated tokamak
location: Culham, United Kingdom

# SSH connection (user configures ~/.ssh/config with this alias)
ssh_host: jet

# Data systems available at this facility
data_systems:
  - ppf    # JET Processed Pulse File system
  - uda    # Universal Data Access (SAL)
  - imas   # IMAS data format
  - mdsplus  # MDSplus (limited use)

# User info discovery configuration
# GECOS = General Comprehensive Operating System (5th field in /etc/passwd)
user_info:
  name_format: first_last  # Standard "First Last" format
  lookup_tools:  # Ordered fallback list
    - getent   # POSIX standard, includes LDAP/NIS/SSSD
    - passwd   # /etc/passwd fallback
    - id       # existence check only

# Wiki/documentation sites
# JET Data Centre hosts 16 separate MediaWiki instances at wiki.jetdata.eu
# Each is a distinct site for different task forces/groups

# Common defaults for all JET wiki sites
_wiki_defaults: &wiki_defaults
  portal_page: Main_Page
  site_type: mediawiki
  access_method: direct      # Accessible via browser with login
  auth_type: basic           # MediaWiki username/password login
  credential_service: jet
  ssh_available: true        # SSH tunnel also possible via JET host

wiki_sites:
  - <<: *wiki_defaults
    url: https://wiki.jetdata.eu/pog
    description: Plasma Operations Group - operational procedures and session logs
  - <<: *wiki_defaults
    url: https://wiki.jetdata.eu/ia
    description: Integrated Analysis - analysis tools and workflows
  - <<: *wiki_defaults
    url: https://wiki.jetdata.eu/ek
    description: Electron Kinetics
  - <<: *wiki_defaults
    url: https://wiki.jetdata.eu/open
    description: OpenWiki - general documentation
  - <<: *wiki_defaults
    url: https://wiki.jetdata.eu/rtmc
    description: Real Time Measurement and Control
  - <<: *wiki_defaults
    url: https://wiki.jetdata.eu/seed
    description: SeedWiki
  - <<: *wiki_defaults
    url: https://wiki.jetdata.eu/tf
    description: TFWiki - Task Force general
  - <<: *wiki_defaults
    url: https://wiki.jetdata.eu/tfd
    description: Task Force D - diagnostics
  - <<: *wiki_defaults
    url: https://wiki.jetdata.eu/tfe
    description: Task Force E - exhaust
  - <<: *wiki_defaults
    url: https://wiki.jetdata.eu/tfe1
    description: Task Force E1
  - <<: *wiki_defaults
    url: https://wiki.jetdata.eu/tfe2
    description: Task Force E2
  - <<: *wiki_defaults
    url: https://wiki.jetdata.eu/tfh
    description: Task Force H - heating and current drive
  - <<: *wiki_defaults
    url: https://wiki.jetdata.eu/tfm
    description: Task Force M - MHD
  - <<: *wiki_defaults
    url: https://wiki.jetdata.eu/tfs1
    description: Task Force S1 - scenario 1
  - <<: *wiki_defaults
    url: https://wiki.jetdata.eu/tfs2
    description: Task Force S2 - scenario 2
  - <<: *wiki_defaults
    url: https://wiki.jetdata.eu/tft
    description: Task Force Transport
